body {
width: 930px;
background-color: black;
margin: auto;
}


span {
color: white;

}

header {
background-color: blue;
width: 930px;
height: 100px;
}

nav {
background-color: green;
height: 500px; 
width: 150px;
margin: 15px 15px 15px 0px;
float: left;
}

aside { 
background-color: red;
height: 500px; 
width: 150px;
margin: 15px 0px 15px 15px;
float: right;
}

section {
background-color: gray;
height: 500px;
width: 430px;
margin: 15px 0px 15px 0px;
float: left;
}


footer {
background-color: yellow;
height: 50px;
width: 930px;
margin: 0px;
float: left;
}
