body {
  background-color: black;
  width: 960px;
  margin: auto;
}

span {
  color: white;
  
}

header {
    background-color: blue;
    height: 100px;
}

nav {
   background-color: green;
    height: 100px; 
    width: 50px;
}

aside {
background-color: red;
height: 100px;
width: 50px;
}
section {
    background-color: gray;
    height: 100px;
}

footer {
    background-color: yellow;
    height: 100px;
}
